
h2 {
  border: 3px;
  border-color: black;
}
section {
  background-color: green;
}
div {
  background-color: aqua;
  border: 0.8rem solid rgb(255, 132, 255);
  padding: 1%;
}
p {
  background-color: pink;
}
img {height: 175px;
padding: 12%;}